@charset "UTF-8";
/* CSS Document */

body {
	background-color:#f2bf49;
	margin:0px auto;
}

p {
	font-family:Optima;
}


.wrapper {
	width:950px;
	min-height:681px;
	margin:0 auto;
	background-color:#FFFFFF;
}

.header {
	width:950px;
}

.headerlft {
	width:635px;
	float:left;
	padding:10px 0 10px 10px;
}

.headerrt {
	float:left;
	padding:5px;
	background-color:#003f74;
	margin-top:-5px;
}

.clear {
	clear:both;
}

.main {
	width:645px;
	height:500px;
	background-image:url(images/bg-color.jpg);
	background-repeat:repeat;
	background-position:top left;
	float:right;
	color:#003f74;
	font-family:Optima;
	font-size:14px;
}


.mainwrap {
	width:733px;
	margin:0 50px 50px 65px;
}

.nav {
	width:88px;
	padding-top:10px;
	float:right;
}

.top {
	width:950px;
	height:5px;
	background-color:#003f74;
}

.footer {
	width:930px;
	height:10px;
	padding:10px;
	background-color:#003f74;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:11px;
	text-align:center;
	vertical-align:middle;
}

.middle {
	width:350px;
	float:right;
	text-align:center;
	color:#003f74;
	margin-top:-15px;
	font-family:Optima;
	line-height:8px;
	padding:30px 0 10px 0;
}

.contentleft {
	width:330px;
	padding:45px 18px;
	float:left;
}

.contentright {
	width:255px;
	padding:35px 20px 0 0;
	float:left;
}

.lefttop {
	width:305px;
	padding-left:25px;
	background-image:url(images/personalinfo-bg-top.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.leftmiddle {
	width:300px;
	min-height:382px;
	padding:15px;
	margin-top:-5px;
	background-image:url(images/personalinfo-bg-middle.jpg);
	background-repeat:repeat-y;
	background-position:center;
	font-family:Optima;
	font-size:14px;
	color:#003f74;
}

.leftbottom {
	width:330px;
	height:3px;
	background-image:url(images/personalinfo-bg-bottom.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.righttop {
	width:240px;
	padding-left:20px;
	background-image:url(images/changepw-bg-top.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.rightmiddle {
	width:240px;
	min-height:275px;
	padding:10px;
	margin-top:-5px;
	background-image:url(images/changepw-bg-middle.jpg);
	background-repeat:repeat-y;
	background-position:center;
	font-family:Optima;
	font-size:14px;
	color:#003f74;
}

.rightbottom {
	width:260px;
	height:3px;
	background-image:url(images/changepw-bg-bottom.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.login {
	width:360px;
	vertical-align:middle;
	margin:150px auto;
}

.contact {
	width:360px;
	vertical-align:middle;
	margin:80px auto;
}
.undersearch {
	font-family:Optima;
	font-size:10px;
	width:215px;
	float:left;
	text-align:center;
	color:#999;
}

.undersearch a {
	color:#999;
}

.left {
	width:300px;
	min-height:382px;
	padding:15px;
	font-family:Optima;
	font-size:14px;
	color:#003f74;
	vertical-align:middle;
	text-align:center;
}

.admintop {
	width:237px;
	padding-left:23px;
	background-image:url(images/admin-bg-top.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.adminmiddle {
	width:240px;
	min-height:275px;
	padding:10px;
	margin-top:-5px;
	background-image:url(images/admin-bg-middle.jpg);
	background-repeat:repeat-y;
	background-position:center;
	font-family:Optima;
	font-size:14px;
	color:#003f74;
}

.adminbottom {
	width:260px;
	height:3px;
	background-image:url(images/admin-bg-bottom.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.righttopreports {
	width:240px;
	padding-left:20px;
	background-image:url(images/report-bg-top.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.title {
	width:100px;
	font-family:Optima;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#003f74;
	margin-top:-10px;
	background-image:url(images/bg-color.jpg);
	background-position:top left;
	background-repeat:repeat;
}

.topbar {
	width:595px;
	height:3px;
	text-align:center;
	margin:15px auto 0px;
	background-color:#f2bf49;
}